In [1]:
#import libraries
import pandas as pd
import opendatasets as od
import os

# 1. Data Collection

In [2]:
#get the data from API
housingAPI = od.download("https://www.kaggle.com/shivachandel/kc-house-data")

Skipping, found downloaded files in "./kc-house-data" (use force=True to force download)

In [3]:
#get the data and read it 
housingData = pd.read_csv('./kc-house-data/kc_house_data.csv')

# 2. Data Organization

In [4]:
# view summary of data
housingData.info()
housingData.head()

"""
There are 21,613 entries and 21 columns
"""

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21611 non-null  float64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(6), int64(14), object(1)
memory usage: 3.5+ MB

'\nThere are 21,613 entries and 21 columns\n'

# 3. Data Definition

In [5]:
""""
1. Do your column names correspond to what those columns
store? Yes

#Variables Description Data Type of some columns

view Has been viewed Numeric
condition How good the condition is ( Overall ). 1 indicates worn out property and 5 excellent.
    (http://info.kingcounty.gov/assessor/esales/Glossary.aspx?type=r#g) Numeric
grade overall grade given to the housing unit, based on King County grading system. 1 poor ,13 excellent. Numeric
sqftabove square footage of house apart from basement Numeric 
sqftbasement square footage of the basement Numeric
sqftliving15 Living room area in 2015(implies-- some renovations) This might or might not have affected the lotsize area Numeric 
sqftlot15 lotSize area in 2015(implies-- some renovations) Numeric
"""

#2. Check the data types of the columns
housingData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21611 non-null  float64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(6), int64(14), object(1)
memory usage: 3.5+ MB

# 4. Data Cleaning

In [7]:
#print(type(housingData))

#check for duplicates
housingData.duplicated()

duplicate = housingData[housingData.duplicated()]
print(duplicate)

#There are no duplicates. If there were duplicates, I could use drop() to drop the duplicated items

Empty DataFrame
Columns: [id, date, price, bedrooms, bathrooms, sqft_living, sqft_lot, floors, waterfront, view, condition, grade, sqft_above, sqft_basement, yr_built, yr_renovated, zipcode, lat, long, sqft_living15, sqft_lot15]
Index: []

[0 rows x 21 columns]

In [27]:
#check for any null values
housingData.isnull().values.any()

#check how many null values
housingData.isnull().sum()

# 2 null values are in the sqft_above column > index 10 & 17
housingData[housingData['sqft_above'].isna()]

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
10,1736800520,20150403T000000,662500.0,3,2.5,3560,9796,1.0,0,0,...,8,NaN,1700,1965,0,98007,47.6007,-122.145,2210,8925
17,6865200140,20140529T000000,485000.0,4,1.0,1600,4300,1.5,0,0,...,7,NaN,0,1916,0,98103,47.6648,-122.343,1610,4300

In [28]:
#Remove the rows where sqft_above is not NA
newHousingDF = housingData[housingData['sqft_above'].notna()]

newHousingDF.isnull().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [30]:
#Check the data > now have 21,611 rows
newHousingDF.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21611 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21611 non-null  int64
 1   date           21611 non-null  object
 2   price          21611 non-null  float64
 3   bedrooms       21611 non-null  int64
 4   bathrooms      21611 non-null  float64
 5   sqft_living    21611 non-null  int64
 6   sqft_lot       21611 non-null  int64
 7   floors         21611 non-null  float64
 8   waterfront     21611 non-null  int64
 9   view           21611 non-null  int64
 10  condition      21611 non-null  int64
 11  grade          21611 non-null  int64
 12  sqft_above     21611 non-null  float64
 13  sqft_basement  21611 non-null  int64
 14  yr_built       21611 non-null  int64
 15  yr_renovated   21611 non-null  int64
 16  zipcode        21611 non-null  int64
 17  lat            21611 non-null  float64
 18  long           21611 non-null  float64
 19  sqft_living15  21611 non-null  int64
 20  sqft_lot15     21611 non-null  int64
dtypes: float64(6), int64(14), object(1)
memory usage: 3.6+ MB